.loader {
    position: relative;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    border: 0.2em solid white;
    border-left: 0.2em solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
