.timers {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.timer {
    flex: 1;
    position: relative;
    padding: 0.5em 1em;
    margin: 5px;
    box-shadow: var(--shadow-1);
    border-radius: 3px;
    background-color: white;
    color: black;
}
.time {
    font-weight: 600;
    font-size: 2em;
}
